.Wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.Small {
    color: red;
}


/* this code was pulled from 
https://www.w3schools.com/howto/howto_css_loader.asp */
.Loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(90, 89, 89); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}